.Header__1st{
  height:3rem;
  background-color: #2e0044;
  color:white;
  padding:1rem;
}
.Header__1st__inner{
  display:grid; 
  width:$desktop-view;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: 1fr auto;
}
.Header__btn{
  background: transparent;
  border:none;
  font-size: 1.2rem;
  color:whitesmoke;
  cursor: pointer;
}
.Header__2nd{
  height:8rem;
  background-color: #f3f5f6;
  color:white;
}
.Header__2nd__inner{
  display:grid; 
  width:$desktop-view;
  margin-left: auto;
  margin-right: auto;
  padding:1rem;
  grid-template-columns: 1fr;
  color:black;
}
.red{
  display:grid; 
  height:4rem;
  align-items:start;
}
.Header__2nd__btn{
  height:2rem;
  width:8rem;
  background-color:#2e0044;
  border:none;
  color:white;
  font-size: 14px;
  cursor:pointer;
}
.Header__2nd__btn:hover{
  border:1px solid #2e0044;
  background-color:#ebbfff;
  color:black;
}
.link__style__mainPage{
  color:white;
}

//EXPENSE FORM
.expenseForm{
  display:grid;
  grid-gap:15px;
  width:$desktop-view;
  margin-left: auto;
  margin-right: auto;
  margin-top:30px;
  margin-bottom:10px;
}
.addExpenseBtn{
  height:2.3rem;
  width:5rem;
  background-color: #2e0044;
  color:white;
  border:none;
  cursor:pointer;
}
.searchText{
  padding:10px;
  height:8rem;
}
.removeBtnContainer{
  width:$desktop-view;
  margin-left: auto;
  margin-right: auto;
}
.removeBtn{
  @extend .addExpenseBtn;
  width:8rem;
  background-color: rgb(253, 78, 78);
}
@media (max-width: 980px) {
  .Header__1st__inner{
    width:$tab-view;
  }
  .Header__2nd__inner{
    width:$tab-view;
  }
  .expenseList{
    width:$tab-view;
  }
  .expenseForm{
    width:$tab-view;
  }
  .removeBtnContainer{
    width:$tab-view;
  }
}
@media (max-width: 790px) {
  .Header__1st__inner{
    width:$mini-tab-view;
  }
  .Header__2nd__inner{
    width:$mini-tab-view;
  }
  .expenseList{
    width:$mini-tab-view;
  }
  .expenseForm{
    width:$mini-tab-view;
  }
  .removeBtnContainer{
    width:$mini-tab-view;
  }
}
.errMsg{
  @extend .removeBtnContainer;
  background-color:rgb(255, 26, 26);
  color:white;
}

.loading{
  display:grid;
  justify-items: center;
  align-content: center;
  height: 100vh;
  width:100%;
  font-size: 3rem;
}