.Header__1st{
  height:3rem;
  background-color: #2e0044;
  color:white;
  padding:1rem;
}
.Header__1st__inner{
  display:grid; 
  width:$desktop-view;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: 1fr auto;
}
.Header__btn{
  background: transparent;
  border:none;
  font-size: 1.2rem;
  color:whitesmoke;
  cursor: pointer;
}
.Header__2nd{
  height:8rem;
  background-color: #f3f5f6;
  color:white;
}
.Header__2nd__inner{
  display:grid; 
  width:$desktop-view;
  margin-left: auto;
  margin-right: auto;
  padding:1rem;
  grid-template-columns: 1fr;
  color:black;
}
.red{
  display:grid; 
  height:4rem;
  align-items:start;
}
.Header__2nd__btn{
  height:2rem;
  width:8rem;
  background-color:#2e0044;
  border:none;
  color:white;
  font-size: 14px;
  cursor:pointer;
}
.Header__2nd__btn:hover{
  border:1px solid #2e0044;
  background-color:#ebbfff;
  color:black;
}
.link__style__mainPage{
  color:white;
}


