//EXPENSE FORM
.expenseForm{
  display:grid;
  grid-gap:15px;
  width:$desktop-view;
  margin-left: auto;
  margin-right: auto;
  margin-top:30px;
  margin-bottom:10px;
}
.addExpenseBtn{
  height:2.3rem;
  width:5rem;
  background-color: #2e0044;
  color:white;
  border:none;
  cursor:pointer;
}
.searchText{
  padding:10px;
  height:8rem;
}
.removeBtnContainer{
  width:$desktop-view;
  margin-left: auto;
  margin-right: auto;
}
.removeBtn{
  @extend .addExpenseBtn;
  width:8rem;
  background-color: rgb(253, 78, 78);
}
.errMsg{
  @extend .removeBtnContainer;
  background-color:rgb(255, 26, 26);
  color:white;
}